@import "tailwindcss";

@theme {
  --font-garamond: "EB Garamond Variable", serif;
  --font-mulish: "Mulish Variable", sans-serif;

  --color-primary: #0f70b7;
  --color-secondary: #2daae2;
  --color-white: #f6f6f6;
  --color-text: #000000;
  --color-background: #f6f6f6;
}

html,
body {
  background-color: var(--color-background);
  margin: 0;
  width: 100%;
  height: 100%;
}

.c-container {
  @apply max-w-[90rem] px-[1.125rem] md:px-[2.4rem] lg:px-[4.375rem] mx-auto;
}

h1:not([class*="text-"]),
.h1 {
  @apply font-garamond font-bold text-2xl md:text-[64px];
}

h2:not([class*="text-"]),
.h2 {
  @apply font-garamond font-bold text-[2.2779rem];
}

.card {
  @apply font-garamond text-2xl md:text-4xl font-bold;
}

h4:not([class*="text-"]),
.h4,
.nav-item {
  @apply font-garamond font-bold text-2xl transition-all;
}
.nav-item:not(.button):hover {
  @apply text-primary/70;
}
.nav-item.btn.active {
  @apply bg-primary;
}
.nav-item:not(.button).active {
  @apply text-primary;
}

.body,
p:not([class*="text-"]) {
  @apply font-mulish font-normal text-lg md:text-2xl;
}

.testimonial {
  @apply font-mulish font-normal text-[1.284rem];
}

.btn {
  @apply font-bold text-black text-[13px] md:text-2xl py-3 px-5 border border-black font-garamond;
}
.btn:hover {
  @apply bg-primary/60 !text-white border-primary/60;
}
