---
import hero_image from "../assets/hero_image.webp";
---

<section
  class="c-container hero flex flex-wrap-reverse items-center gap-24 md:gap-48"
>
  <div class="flex flex-col gap-4 text-balance lg:flex-[1_0_45%]">
    <h1>
      Bienvenidos! Soy <span class="text-primary"> Martina c: </span>
    </h1>
    <p class="font-bold text-base md:text-4xl font-garamond">
      Licenciatura en Diseño de Comunicación visual
    </p>
    <p class="font-medium text-sm md:text-2xl body">
      A través de mi trabajo busco crear piezas visuales atractivas, creativas,
      y sobre todo funcionales. <br />
      Estoy dispuesta a seguir aprendiendo, obtendrás una buena resolución de problemas,
      un proceso de trabajo elevado para un resultado satisfactorio.
    </p>
    <button class="btn w-fit">Portfolio</button>
  </div>

  <div class="w-fit">
    <img
      src={hero_image.src}
      alt="Martina Fernandez Picture"
      class="max-w-52 sm:max-w-[350px]"
    />
  </div>
</section>
